#history,
#logs {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #eeeeee;
}

.lists{
  min-width: 300px;
  
}
button{
  min-width: 140px !important;
  margin-bottom: 10px !important;
}
#input {
  width: 60vw;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #ec4747, #f01e1e);
}

.uk-navbar-nav > li.uk-active > a {
  color: white;
}
button.active {
  background-color: #dc56d2 !important;
}
.label {
  vertical-align: -2px;
}
.logo {
  font-weight: 500;
  font-size: 25px;
  color: white;
  margin-left: 20px;
}

.report {
  color: #23ff00;
  opacity: 0.4;
  padding: 10px;
  /* transform: translateX(-25px); */
  animation: enter forwards 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.report + .report {
  border-top: 1px solid #264e1f;
}
.loader {
  position: absolute;
  top: 4px;
  right: 4px;
}

.input-line {
  position: relative;
}

@keyframes enter {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
